@model Orders.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
