@model IEnumerable<Orders.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
